ST3_User_Dir/Package Control.last-run
ST3_User_Dir/Package Control.ca-list
ST3_User_Dir/Package Control.ca-bundle
ST3_User_Dir/Package Control.system-ca-bundle
ST3_User_Dir/Package Control.cache/
ST3_User_Dir/Package Control.ca-certs/
